<form class="form-horizontal" role="form" ng-submit="saveAddress()">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">Endereço</label>
        <div class="col-sm-10">
            <input type="text" placeholder="Ex: Rua / Avenida" class="form-control" 
                required ng-model="address.street" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">Número</label>
        <div class="col-sm-5">
            <input type="text" placeholder="Ex: 45 / 100-B" class="form-control"
                required ng-model="address.number" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">Complemento</label>
        <div class="col-sm-5">
            <input type="text" placeholder="Opcional" class="form-control"
                ng-model="address.complement" />
        </div>

        <label class="col-sm-1 control-label" for="textinput">CEP</label>
        <div class="col-sm-3">
            <input type="text" placeholder="CEP" class="form-control" 
                required ng-model="address.zipcode"  />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">Cidade</label>
        <div class="col-sm-5">
            <select class="form-control" required ng-model="address.city">
                <option value="São Paulo">São Paulo</option>
                <option value="São José dos Campos">São José dos Campos</option>
            </select>
        </div>

        <label class="col-sm-1 control-label" for="textinput">Estado</label>
        <div class="col-sm-3">
            <select class="form-control" required ng-model="address.state">
                <option value="">Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espirito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MT">Mato Grosso</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">Tipo</label>
        <div class="col-sm-4">
            <select class="form-control" required ng-model="address.tag">
                <option value="Residencial">Residencial</option>
                <option value="Trabalho">Trabalho</option>
            </select>
        </div>
    </div>

</form>
