<div class="modal fade" id="delete-address" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmar exclusão?</h4>
            </div>
            <div class="modal-body">
            Tem certeza que deseja excluir este endereço?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" ng-click="deleteAddress()">Sim</button>
            </div>
        </div>
    </div>
</div>
