<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 
                data-toggle="collapse" data-target="#navbar" 
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WM Client App Concept</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li ng-class="{ 'active': isActive('orders') }">
                    <a href="/meus-pedidos">
                        <i class="glyphicon glyphicon-th-list"></i>
                        Seus Pedidos</a>
                </li>
                <li ng-class="{ 'active': isActive('addresses') }">
                    <a href="/meus-enderecos">
                        <i class="glyphicon glyphicon-home"></i>
                        Seus Endereços</a>
                </li>
                <li ng-class="{ 'active': isActive('profile') }">
                    <a href="/meus-dados">
                        <i class="glyphicon glyphicon-user"></i>
                        Seus Dados</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
