<tr ng-repeat="item in order.items" class="order-item">
    <td data-th="Itens">
        <div class="row">
            <div class="col-sm-2 hidden-xs item-thumb">
                <img src="{{ item.thumb }}" class="img-responsive" />
            </div>
            <div class="col-sm-10">
                <h4 class="nomargin">{{ item.title }}</h4>
                <p>{{ item.shortDescription }}</p>
            </div>
        </div>
    </td>
    <td data-th="Preço">R$ {{ item.unitPrice|setDecimal:2 }}</td>
    <td data-th="Quantidade"><span class="item-qty">1</span>
    </td>
    <td data-th="Subtotal" class="text-center">R$ {{ item.totalPrice|setDecimal:2 }}</td>
</tr>
