<h4>Detalhes do Pedido: {{ order.id }}</h4>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th style="width:50%">Itens</th>
            <th style="width:10%">Preço</th>
            <th style="width:8%">Quantidade</th>
            <th style="width:22%" class="text-center">Subtotal</th>
        </tr>
    </thead>
    <tbody ng-include="'partials/order-items.html'">
    </tbody>
    <tfoot>
        <tr class="visible-xs">
            <td class="text-center">
                <strong>Total: R$ {{ order.total|setDecimal:2 }}</strong>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Forma de Pagamento</h5>
                {{ order.payment.type }} - R$ {{ order.payment.value }} <br />

                <h5>Entrega</h5>
                <strong>{{ shippingInfo.tag }}</strong><br />
                {{ shippingInfo.street }}, {{ shippingInfo.number }} 
                {{ shippingInfo.complement }} <br />
                {{ shippingInfo.zipcode }}
            </td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center">
                <strong>Total: R$ {{ order.total|setDecimal:2 }}</strong>
            </td>
        </tr>
    </tfoot>
</table>
