#addresses-list {
    .box {
        .rounded(5px);
        border: 1px solid lighten(@walmart-gray, 40%);
        margin: 10px;
        padding: 10px;
        min-height: 125px;

        .tag {
            color: @walmart-orange;
            font-weight: bold;
            display: block;
        }

        .zipcode {
            display: inline-block;
            white-space: nowrap
        }

        .address-actions {
            padding: 5px;

            button {
                margin-left: 5px
            }
        }
    }

    .add-address {
        min-height: 100px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        text-decoration: none;
        padding-top: 20px;
        cursor: pointer;

        .icon {
            display: block;

            &:before {
                font-size: 40px;
            }
        }
    }
}
