/**** GENERIC STYLES ****/ 
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: relative;
    z-index: 10;
}

h5 {
    margin-bottom: 3px
}

article {
    padding-bottom: 20px
}

footer {
    text-align: center;
    padding: 5px
}

.row {
    margin: 0
}

.jumbotron {
    text-align: center;
}

.btn-info {
    background: @walmart-lightblue;
    border-color: @walmart-lightblue;
    
    &:focus,
    &:hover {
        background: @walmart-blue;
        border-color: @walmart-blue;
    }
}

#page-title {
    margin: 20px 10px 10px;

    @media @desktop {
        font-size: 40px;
        font-weight: bold;
    }
}