.block() {
    display: block;
}

.transition-property(@property: all) {
    -webkit-transition-property: -webkit-transform, @property;
    -moz-transition-property: -moz-transform, @property;
    -o-transition-property: -o-transform, @property;
    transition-property: transform, @property;
}

.transform-origin(@x: 100%, @y: 100%) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin: @x @y;
    -ms-transform-origin: @x @y;
    -o-transform-origin: @x @y;
    transform-origin: @x @y;
}

.backface(@vis: hidden) {
    -webkit-backface-visibility: @vis;
    -moz-backface-visibility: @vis;
    -ms-backface-visibility: @vis;
    -o-backface-visibility: @vis;
    backface-visibility: @vis;
}