.navbar-default {
    background: @walmart-lightblue;
    border-color: @walmart-blue;
    .drop-shadow (0, 3px, 5px, 0.3);
    margin: 0 10px 20px;
    .rounded(5px);

    .navbar-brand, .navbar-nav > li {
        &,
        &:focus,
        &:hover,
        > a,
        > a:hover,
        > a:focus {
            color: #fff;
        }
    }

    .navbar-nav > li > a {
        display: inline-block;
    }

    .navbar-nav > .active {
        > a,
        > a:hover,
        > a:focus {
            background: @walmart-blue;
            color: #fff;
        }
    }

    .navbar-toggle:focus {
        background: @walmart-blue;
    }

    .navbar-toggle {
        .icon-bar,
        .icon-bar:hover,
        .icon-bar:focus {
            background: #fff;
        }
    }
}