article {
    background: #F7F7F7;
}

.order-row {
    padding: 10px 0;
    border-bottom: 1px solid lighten(@walmart-gray, 40%);
}

.order-status {
    .block();
}

.order-id {
    font-size: 25px;
    line-height: 20px;
    display: inline-block;
    width: 170px
}

.order-short-details {
    .order-value {
        color: @walmart-orange;
        font-size: 16px
    }
}

.order-metadata {
    min-height: 50px
}

.order-actions {
    padding-top: 8px
}

.order-details {
    clear: both;
    background: lighten(@walmart-gray, 70%);
    padding: 10px 20px;
    margin: 0 12px;
    
    h4, h5 {
        color: @walmart-orange;
    }

    tbody td h4 {
        color: black
    }

    .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: middle;
    }

    .item-thumb {
        padding-top: 10px
    }

    @media @mobile, @tablet {
        .item-qty {
            padding-left: 5px
        }

        thead {
            display: none;
        }

        tbody td {
            display: block;
            padding: .6rem;
            min-width: 320px;

            h4 {
                color: black
            }
        }

        tbody tr td:first-child {
            background: lighten(@walmart-gray, 50%);
            font-size: 14px;
            
            h4 {
                font-weight: bold
            }
        }

        tbody td:before {
            content: attr(data-th);
            font-weight: bold;
            display: inline-block;
            width: 8rem;
        }

        tfoot td {
            display: block;
        }
    }
}
