@walmart-lightblue: #1A75CE;
@walmart-blue: #195d9e;
@walmart-orange: #F47B20;
@walmart-gray: #666;
@walmart-sprite: 'https://static.wmobjects.com.br/webstore/images/sprites/global-sfce71e6aa8.png';

@desktop: ~"only screen and (min-width: 769px)";
@tablet: ~"only screen and (min-width:321px) and (max-width:768px)";
@mobile: ~"only screen and (max-width: 320px)";