<article class="container">
    <h2 id="page-title">Seus Endereços</h2>

    <div id="addresses-list">
        <div class="row">
            <div id="address-{{$index + 1}}" class="address-item col-xs-3 box" ng-repeat="address in addresses">
                <span class="tag">{{ address.tag }}</span>
                <span class="street">{{ address.street }}, {{ address.number }}</span>
                <span class="complement">{{ address.complement }}</span>
                <span class="zipcode">{{ address.zipcode }}</span>
                <div class="address-actions pull-right">
                    <a ng-click="editAddressModal(address.id)"
                        title="Editar este endereço"
                        class="btn btn-info btn-modal">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a ng-click="deleteAddressModal(address.id)"
                        title="Excluir este endereço"
                        class="btn btn-info btn-modal">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
            <a class="address-item col-xs-3 box add-address"
                ng-click="addAddressModal(1)">
                <span class="glyphicon glyphicon-plus-sign icon"></span>
                <span>Adicionar um Endereço</span>
            </a>
        </div>
    </div>
</article>

<div ng-include="'partials/address-edit-modal.html'"></div>
<div ng-include="'partials/address-add-modal.html'"></div>
<div ng-include="'partials/address-delete-modal.html'"></div>
<div ng-include="'partials/confirmation-modal.html'"></div>