<article class="container">
    <h2 id="page-title">Seus Pedidos</h2>

    <div id="orders-list">
        <div class="row order-row" ng-repeat="order in orders">
            <div class="col-xs-6 col-sm-3 order-metadata">
                <strong class="order-status">{{ order.status }}</strong>
                <span class="order-update-date">{{ order.updateDate|fromNow }}</span>
            </div>
            <div class="col-xs-6 col-sm-6 order-short-details">
                Número do pedido<br>
                <span class="order-id">{{ order.id }}</span>
                <span class="order-value">R$ {{ order.total }}</span>
            </div>
            <div class="col-xs-6 col-sm-2 order-actions">
                <button type="button" ng-click="showDetails(order.id)" class="btn btn-info">Ver Detalhes</button>
            </div>
            <div class="order-details" ng-show="order.id == visibleOrder">
                <div ng-include="'../partials/order-details.html'"></div>
            </div>
        </div>
    </div>
    
</article>
